<h1><%= @message.url %></h1>
 
 <p>
   Author: <%= @message.author %>
 </p>
 
 <p>
   <%= @message.content  %>
 </p>

 <p>
  <%= @message.created_at %>
 </p>
 
 <hr/>
 <a href="/messages">Back to All Messages</a>